@inject IJSRuntime JS
@inject IJSUnsafeRuntime JSUnsafe

<label>Click the Spheres to select them. InsideWebView2: @(DisplyBool(_isWebView))</label>
<label>SupportsWebGPU: @(DisplyBool(_startEngineResult?.WebGpuSupported)) WebGPUUsed: @(DisplyBool(_startEngineResult?.WebGpuUsed)) SelectedSphere: @(DisplayObjectId(_selectedMeshId))</label>
<button @onclick="@OnJSInteropPerformanceTest">JSIntPerf</button>
<div style="width: 100%; height: 95vh">
    <Scene @bind-SelectedMeshId="_selectedMeshId" EngineStarted="@OnEngineStarted"></Scene>
</div>

@code {
    private bool? _isWebView = null;

    private long? _selectedMeshId = null;

    private UsedEngineInfo? _startEngineResult = null;

    private void OnEngineStarted(UsedEngineInfo startEngineResult)
    {
        _startEngineResult = startEngineResult;
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            _isWebView = await JS.InvokeAsync<bool>("getIsWebView");
        }
    }

    private string DisplyBool(bool? b) => b == true ? "Yes" : b == false ? "No" : "Loading...";

    private string DisplayObjectId(long? objId) => objId != null ? $"{objId}" : "None";
}